.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  box-shadow: 5px 0 10px rgba(0,0,0,0.15);
  padding: 0 16px;
}
.navbar-lewagon img {
  width: 50px;
}
.navbar-lewagon a {
  text-decoration: none;
  color: #007bff;
}

